.logBtn {
  margin: 20px 150px;
  padding: 10px 15px;
  color: white;
  background: #3ea9f5;
  border: 1px solid rgba(255, 255, 255, 0.77);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  position: absolute;
  right: 0px;
}
.logo {
  margin: 20px 150px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formik {
  width: 700px;
  margin: 0 auto;
}
.allFieldsWrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.pairingFields {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.regForm {
  color: #9ca8b7;
  margin-bottom: 15px;

  box-sizing: border-box;
  font-size: 18px;
  height: auto;
  padding: 21px 23px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 4px;
}
.formHeading {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.formPhrase {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  width: 88%;
  margin: 11px auto 13px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.checkboxDiv {
  border: 1px solid white;
}
.confirmationText {
  margin: -35px 0px 10px 50px;
}
.checkboxRadio {
  margin: 15px 20px;
}
.confirmationText2 {
  margin-left: 50px;
  margin-top: -8px;
}
.checkboxDiv {
  width: 580px;
  margin: 0 auto;
  // margin-right: 97px;
  margin-bottom: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}
.allow {
  width: 580px;
  margin: 0 auto;
  // margin-right: 97px;
  // margin-left: 145px;
  // margin-bottom: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  margin-left: 76px;
}
.allowText {
  margin-top: -17px;
  margin-left: 25px;
  font-size: 1rem;
}
.createBtn {
  background-color: #28d2d0;

  border-radius: 4px;
  width: 580px;
  height: 64px;
  margin-left: 20px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  // margin-right: 60px;
  margin: 0 auto;
}
.terms {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.termsLink {
  color: white;
}
.errorMes {
  display: block;
  font-size: 12px;
  color: rgb(255, 254, 254);
  background-color: #ac474c;

  border-radius: 4px;
  width: 580px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}
