.errorMes {
    display: block;
    font-size: 12px;
    color: rgb(255, 254, 254);
    background-color: #ac474c;
  
    border-radius: 4px;
    width: 580px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
  }