.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
}
.logo {
  margin: 20px 150px;
}
.signUpBtn {
  margin: 20px 150px;
  padding: 10px 15px;
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.77);
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}
.formHeading {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.field {
  color: #9ca8b7;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;

  font-size: 16px;
  height: auto;
  padding: 21px 23px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
}
.checkbox {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 12px;
}
.checkboxText {
  margin-top: 1px;
}
.afterFormWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.passwordLink {
  text-decoration: none;
  color: white;
}
.logBtn {
  background-color: #28d2d0;

  border-radius: 4px;

  height: 64px;
margin-left: 20px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
