.pairingFields {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.regForm {
    color: #9ca8b7;
    margin-bottom: 15px;
  
    box-sizing: border-box;
    font-size: 18px;
    height: auto;
    padding: 21px 23px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 4px;
  }
